{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center" style="height: 50%;">
    <div class="col-md-4 section align-self-center">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign in form</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign In</button>
            </div>
        </form>
        <div style="padding-bottom: 15px">
            <hr>
            <small class="text-muted">
                Do you need an account? <a class="ml-2" href="{% url 'accs-register' %}">Sign up now</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}
