{% autoescape off %}
To initiate the password reset process for the account associated with the email address {{ user.email }}, please click the link below:

  {{ protocol }}://{{ domain }}{% url 'accs-password-reset-confirm' uidb64=uid token=token %}

If clicking the link above does not work, please copy and paste the URL into a new browser window.

Please do not reply to this email. If you have any questions, contact Jan Bińkowski at jan.binkowski@pum.edu.pl.

Yours sincerely,
Jan Bińkowski
{% endautoescape %}