{% extends "app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 section">
                <div class="card shadow-lg border-0 rounded-lg">
                    <div class="card-header justify-content-center">
                        <h3 class="font-weight-light my-4 text-center">Update Your Profile</h3>
                        <div id="error_div"></div>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ user_update_form|crispy }}
                            </fieldset>
                            <div class="form-group mt-4">
                                <button class="col-12 btn btn-outline-info" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small">
                            <a href="{% url 'accs-update-password' %}">Change password?</a>
                        </div>
                        <hr>
                        <div class="small">
                            <a href="{% url 'accs-delete-account' %}">Delete account?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
