{% extends "app/base.html" %}
{% load filters %}

{% block content %}
{% if samples %}
<div class="container" style="padding-bottom: 7vh">
    {% for sample in samples %}
    <div class="row justify-content-center" style="padding-right: 2%; padding-left: 2%" id="sample-{{ sample.id }}">
        <div class="record col-md-6">
            <div class="row">
                <div class="col-md">
                    <h1>{{ sample.sample_name }}</h1>
                    <div class="row"><small>Creation date: {{ sample.creation_date }}</small></div>
                    <div class="row"><small>Task id: {{ sample.task.task_id }}</small></div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <p id="prediction-{{ sample.task.id }}"></p>
                    <p id="confidence-{{ sample.task.id }}"></p>
                    <p id="anomaly-{{ sample.task.id }}"></p>
                </div>
                <div class="col-md-3">
                    <p>
                        <a href="{% url 'accs-delete' sample.id %}">
                            <button class="btn btn-outline-danger record-btn" style="min-width: 150px; margin: 3px">Delete task</button>
                        </a>
                        <a href="{% url 'accs-update' sample.id %}">
                            <button class="btn btn-outline-info record-btn" style="min-width: 150px; margin: 3px">Update task</button>
                        </a>
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        <button id="status-{{ sample.task.id }}" class="btn btn-outline-warning record-btn" style="min-width: 150px; margin: 3px; cursor: default;" disabled>
                            Status: PENDING
                        </button>
                        <button id="report-{{ sample.task.id }}" class="btn btn-outline-info record-btn" style="min-width: 150px; margin: 3px" disabled>
                            <a href="{% url 'accs-report' sample.id %}" style="text-decoration: none; color: inherit;">See report</a>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="row justify-content-center" style="margin-bottom: 50px;">
        <div class="col-lg-6">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a></li>
                    {% endif %}
                    <li class="page-item">
                        <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" tabindex="-1">Last</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% else %}
<div>
    <p>No data to display</p>
</div>
{% endif %}

<script>
    // Function to fetch and update task status
    async function updateTaskStatus() {
        try {
            // Fetch the data from the server
            const response = await fetch('/tasks-status/');

            // Parse the response as JSON, which is a list of JSON objects
            const data = await response.json();

            // Iterate through the array of JSON objects and update each element
            data.forEach((element) => {
                const taskID = element.task_id;
                const task_status = element.task_status;

                // Get references to the status and report buttons
                const statusButton = document.getElementById(`status-${taskID}`);
                const reportButton = document.getElementById(`report-${taskID}`);

                const predictionField = document.getElementById(`prediction-${taskID}`);
                const confidenceField = document.getElementById(`confidence-${taskID}`);
                const anomalyField = document.getElementById(`anomaly-${taskID}`);

                // Update button styles and status text
                if ((statusButton) && (task_status === "SUCCESS")) {
                    statusButton.setAttribute('class', 'btn btn-outline-success record-btn');
                    statusButton.innerText = `Status: ${task_status}`;
                    reportButton.disabled = false;

                    predictionField.innerText   = `Prediction: ${element.prediction}`;
                    confidenceField.innerText   = `Confidence: ${element.confidence}`;
                    anomalyField.innerText   = `Anomaly: ${element.anomaly}`;

                }
                if ((statusButton) && (task_status !== "SUCCESS")) {
                    statusButton.setAttribute('class', 'btn btn-outline-waring record-btn');
                    statusButton.innerText = `Status: ${task_status}`;
                    reportButton.disabled = true;

                    predictionField.innerText   = `Prediction: -`;
                    confidenceField.innerText   = `Confidence: -`;
                    anomalyField.innerText   = `Anomaly: -`;
                }
            });
        } catch (error) {
            console.error("Error fetching task statuses:", error);
        }
    }

    // Initial call to update task status and set interval for periodic updates
    updateTaskStatus();
    setInterval(updateTaskStatus, 5000);
</script>
{% endblock content %}
