{% extends "app/base.html" %}
{% load bootstrap_icons %}
{% load filters %}

{% block content %}
<div class="row" style="padding: 2%">
    <div class="row mb-4">
        <div class="col-12">
            <h4 class="mb-3"><strong>Sample name: </strong> {{ report.sample_name }}</h4>
            <ul class="list-unstyled">
                <li><strong>Owner:</strong> {{ report.user.username }}</li>
                <li><strong>Task ID:</strong> {{ report.task.task_id }}</li>
                <li><strong>Creation date:</strong> {{ report.creation_date }}</li>
                <li><strong>Public:</strong> {{ report.public }}</li>
            </ul>
            <hr>
            <ul class="list-unstyled">
                <li><strong>Input Grn IDAT file:</strong> {{ report.grn_idat | filename }}</li>
                <li><strong>Input Red IDAT file:</strong> {{ report.red_idat | filename }}</li>
            </ul>
            <hr>
            <ul class="list-unstyled">
                <li><strong>Provided diagnosis:</strong> {{ report.diagnosis }}</li>
                <li><strong>Model:</strong> {{ report.model.name }}</li>
                <li><strong>Platform:</strong> {{ Predicted_platform }}</li>
            </ul>
            <hr>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4 col-sm-12 mb-3">
            <h6>Prediction</h6>
            <p><strong>Prediction:</strong> {{ report.task.result | get_item:"Prediction" }}</p>
            <p>
                <strong>Confidence:</strong> {{ report.task.result | get_item:"Confidence" | floatformat:2 }}
                {% with status=report.task.result|get_item:"Confidence_status" %}
                    {% if status == "High" %}
                        {% bs_icon 'circle-fill' color='green' %}
                    {% elif status == "Medium" %}
                        {% bs_icon 'circle-fill' color='yellow' %}
                    {% elif status == "Low" %}
                        {% bs_icon 'circle-fill' color='orange' %}
                    {% else %}
                        {% bs_icon 'circle-fill' color='red' %}
                    {% endif %}
                {% endwith %}
            </p>
        </div>

        <div class="col-md-4 col-sm-12 mb-3">
            <h6>Anomaly Detection</h6>
            <p><strong>Anomaly:</strong> {{ report.task.result | get_item:"Anomaly_status" }}</p>
            <p>
                <strong>Anomaly score:</strong> {{ report.task.result | get_item:'Anomaly_score' | floatformat:2 }}
                {% with status=report.task.result|get_item:'Anomaly_status' %}
                    {% if status == "Low-risk sample" %}
                        {% bs_icon 'circle-fill' color='green' %}
                    {% elif status == "Medium-risk sample" %}
                        {% bs_icon 'circle-fill' color='orange' %}
                    {% else %}
                        {% bs_icon 'circle-fill' color='red' %}
                    {% endif %}
                {% endwith %}
            </p>
        </div>

        <div class="col-md-4 col-sm-12 mb-3">
            <h6>Donor Characteristics</h6>
            <p><strong>Age:</strong> {{ report.age }}</p>
            {% if report.sex %}
                {% if report.sex == Predicted_sex %}
                    <p><strong>Sex declared:</strong> {{ report.sex }} vs predicted: {{ Predicted_sex }} {% bs_icon 'circle-fill' color='green' %}</p>
                {% else %}
                    <p><strong>Sex declared:</strong> {{ report.sex }} vs <strong>predicted:</strong> {{ Predicted_sex }} {% bs_icon 'circle-fill' color='red' %}</p>
                {% endif %}
            {% else %}
                <p><strong>Sex predicted:</strong> {{ Predicted_sex }}</p>
            {% endif %}
        </div>
    </div>

    <div class="row text-center mb-4">
        <div id="spinner-row-one" class="d-flex justify-content-center my-3">
            <div class="spinner-border text-info" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 mb-3" id="plot-a" style="visibility: hidden">
            {{ pp | safe }}
        </div>

        <div class="col-md-3 col-sm-12 mb-3" id="plot-b" style="visibility: hidden">
            {{ nf | safe }}
        </div>

        <div class="col-md-3 col-sm-12 mb-3" id="plot-c" style="visibility: hidden">
            {{ ap | safe }}
        </div>
    </div>

    <div class="row text-center">
        <div id="spinner-row-two" class="d-flex justify-content-center my-3">
            <div class="spinner-border text-info" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div class="col-md-12" id="plot-d" style="visibility: hidden">
            {{ cnvs | safe }}
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('spinner-row-one').style.setProperty('display', 'none', 'important');
    document.getElementById('spinner-row-two').style.setProperty('display', 'none', 'important');

    document.getElementById('plot-a').style.setProperty('visibility', 'visible', 'important');
    document.getElementById('plot-b').style.setProperty('visibility', 'visible', 'important');
    document.getElementById('plot-c').style.setProperty('visibility', 'visible', 'important');
    document.getElementById('plot-d').style.setProperty('visibility', 'visible', 'important');
});
</script>
{% endblock content %}
