a {
    text-decoration: none;
}
p {
  margin: 0;
}
.btn  {
  min-width: 75px;
}
.link{
  color: #777779;
}
.text-muted-margin {
  border-bottom: 5px
}
.footer-section {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  min-height: 7vh;
  margin-top: 60px;
}
.record {
  background-color: #f8f9fa;
  padding: 10px;
  margin: 15px;
}
.record:hover {
  box-shadow: 0px 0px 5px 2px lightgray;
}
.record-btn {
  min-width: 140px;
}
.nav-justified-left {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 5px;
}
.nav-justified-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
.content-section {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.card_dynamic:hover {
  box-shadow: 10px 10px 5px lightgray;
  transform: translateY(-10px);
}
