/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  position: relative;
  min-height: 100%;

}
a {
    text-decoration: none;
}
p {
  margin: 0;
}
.main {
  min-height: 95%;
}
.uniform-btn {
    width: 135px; /* Adjust as needed */
    min-width: 135px;
}
.link{
  color: #777779;
}
.text-muted-margin {
  border-bottom: 5px
}
.footer-section {
  background-color: #f8f9fa;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.hr-footer {
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 1px;
}
.record {
  padding: 10px;
  margin: 15px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 4px 12px rgba(211, 211, 211, 0.8);
}
.record:hover {
    box-shadow: 0px 4px 12px rgb(11, 37, 72);
}
.record-btn {
  min-width: 140px;
  margin: 5px;
}
.section:hover {
  box-shadow: 0px 4px 12px rgb(11, 37, 72);
}
.nav-justified-left {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 5px;
}
.nav-justified-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
.content-section {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.footer-divider {
    border-color: white;
    border-width: 5px;
    margin: 10px 0;
}